.navigation{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navigation__authorization {
    display: flex;
    align-items: center;
}

.navigation__navigation-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__registration {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

.navigation__login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: black;
    background: #3DDC84;
    text-decoration: none;
    width: 76px;
    height: 32px;
    border-radius: 3px;
}

.navigation-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

.navigation-link_active{
    padding-bottom: 7px;
    border-bottom: 1px solid white;
}

.navigation__saved-films {
    font-weight: 400;
}

.navigation__link-list {
    display: flex;
    margin-left: 44px;
    list-style-type: none;
    column-gap: 16px;
    padding: 0;
}

.navigation-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    text-decoration: none;
    border: 2px solid #AAAAAA;
    border-radius: 50px;
    width: 96px;
    height: 28px;
}

.navigation-profile__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}

.navigation__burgermenu-button {
    background-image: url(../../images/burger-menu.svg);
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

@media (max-width: 900px) {
    .navigation-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .navigation-profile {
        margin-bottom: 90px;
    }

    .navigation__burgermenu-button{
        display: flex;
    }

    .navigation__navigation-list{
        display: none;
    }
}

@media (max-width: 550px){
    .navigation__registration{
        font-size: 10px;
    }

    .navigation__login{
        width: 54px;
        height: 26px;
        font-size: 10px;
    }
}